<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <script type="text/javascript"
            th:src="@{/webjars/jquery/3.4.1/jquery.min.js}"></script>
    <title>Add author</title>
    <link rel="stylesheet" type="text/css"
          th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}">
</head>
<body>
<div th:insert="~{menu :: menu_}"></div>
<div class="row">
    <div class ="col-2">
        <div th:insert="~{author/author_menu :: author_menu_}"></div>
    </div>
    <div class="panel panel-primary col-md-8 col-md-offset-0.5">
        <div class="panel-heading">
            <h3 class="panel-title" text="Add author"></h3>
        </div>
        <div class="panel-body">
            <div class="starter-template">
                <form th:action="@{/rest/author/add}" class="form-horizontal" id="authorForm" name="authorForm">
                    <div class="form-group purple-border">
                        <label for="feedback" class="col-sm-2 control-label">Result</label>
                        <div class="col-sm-10">
                            <textarea readonly class="form-control" id="feedback" rows="6"></textarea>
                        </div>
                    </div>
                    <div class="form-group form-group-lg">
                        <label for="name" class="col-sm-2 control-label">Name<span style="color: #FF0000;">*</span></label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="name" name="name" placeholder="Name" rows="8">
                        </div>
                    </div>
                    <div class="form-group form-group-lg">
                        <label for="surname" class="col-sm-2 control-label">Surname<span style="color: #FF0000;">*</span></label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="surname" name="surname" placeholder="Surname" rows="8">
                        </div>
                    </div>
                    <div class="form-group form-group-lg">
                        <label for="patronymic" class="col-sm-2 control-label">Patronymic<span style="color: #FF0000;">*</span></label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="patronymic" name="patronymic" placeholder="Patronymic" rows="8">
                        </div>
                    </div>
                    <div class="form-group form-group-lg">
                        <label for="country" class="col-sm-2 control-label">Country<span style="color: #FF0000;">*</span></label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="country" name="country" placeholder="Country" rows="8">
                        </div>
                    </div>
                    <div class="form-group form-group-lg">
                        <label for="sex" class="col-sm-2 control-label">Sex<span style="color: #FF0000;">*</span></label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="sex" name="sex" placeholder="Sex" list="sexes">
                        </div>
                    </div>
                    <style>
                        #error {color: red;}
                    </style>
                    <div id="error"></div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" id="btn-submit"
                                    class="btn btn-primary btn-lg">Submit</button>
                        </div>
                    </div>
                </form>
                <datalist id="sexes">
                    <option th:each="sex : ${sexes}" th:value="${sex}" th:text="${sex}"></option>
                </datalist>
                <style>
                    #error {color: red;}
                </style>
                </form>
            </div>
        </div>
        <p><span style="color: #FF0000;">*</span> - required</p>
    </div>
</div>
<script type="text/javascript"
        th:src="@{/webjars/jquery/3.4.1/jquery.min.js}"></script>
<script>
    function prepare_json_request() {
        let object = {};
        let formData = new FormData(document.getElementById('authorForm'));
        formData.forEach(function (value, key) {
            object[key] = value;
        });
        let json = JSON.stringify(object);
        return json;
    }

    $("#authorForm").submit(function(e) {

        e.preventDefault();
        let json = prepare_json_request();

        let form = $(this);
        let url = form.attr('action');
        $.ajax({
            type: "POST",
            contentType: "application/json",
            url: url,
            data: json,
            dataType: 'json',
            cache: false,
            timeout: 10000,
            success: function(data)
            {
                let jsonResponse = JSON.stringify(data, null, 4);
                $('#feedback').html(jsonResponse);
                $('#error').html("");
                let feedback = document.getElementById("feedback");
                feedback.focus();
            },
            error: function (e) {
                let errorResponse = JSON.parse(e.responseText);
                let errorMessage = "ERROR: " + errorResponse.errorMessage;
                console.log("ERROR : ", e);
                $('#error').html(errorMessage);
                $("#btn-submit").prop("disabled", false);
                $('#feedback').html("");
            }
        });
    });
</script>
</body>
</html>

