<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>TokenGenerator</title>
    <link rel="stylesheet" type="text/css"
          href="webjars/bootstrap/4.3.1/css/bootstrap.min.css"/>
</head>
<body>
<h1 align="center">Token Generator App</h1>
<style>
    .lines{margin-bottom: 50px;}
    .center-btn{position: relative;
        left: 50%;
        transform: translate(-50%, 0); }
</style>
<div class="container">
    <div class="row lines align-content-center">
        <form th:action="@{/swagger-ui.html}" method="get" class="center-btn">
            <button class="btn btn-success btn-lg" id="swagger">Swagger</button>
        </form>
    </div>
</div>
<div class="container">
    <div class="row">

        <div class="col">
            <h2 align="center">Generate payment token</h2>
            <div class="row lines align-content-center">
                <form th:action="@{/generateApplePayPaymentToken}" method="get" class="center-btn">
                    <button class="btn btn-primary btn-lg" id="apple_generate">ApplePay</button>
                </form>
            </div>
            <div class="row lines align-content-center">
                <form th:action="@{/generateGooglePayPaymentToken}" method="get" class="center-btn">
                    <button type="submit" class="btn btn-primary btn-lg center-btn" id="google_generate">GooglePay</button>
                </form>
            </div>
            <div class="row lines align-content-center">
                <form th:action="@{/generateSamsungPayToken}" method="get" class="center-btn">
                    <button class="btn btn-primary btn-lg center-btn" id="samsung_generate">SamsungPay</button>
                </form>
            </div>
        </div>

        <div class="col">
            <h2 align="center">Decode payment token</h2>
            <div class="row lines align-content-center">
                <form th:action="@{/decodeApplePayPaymentToken}" method="get" class="center-btn">
                    <button class="btn btn-primary btn-lg" id="apple_decode">ApplePay</button>
                </form>
            </div>
            <div class="row lines align-content-center">
                <form th:action="@{/decodeGooglePayPaymentToken}" method="get" class="center-btn">
                    <button type="submit" class="btn btn-primary btn-lg" id="google_decode">GooglePay</button>
                </form>
            </div>
            <div class="row lines align-content-center">
                <form th:action="@{/decodeSamsungPayToken}" method="get" class="center-btn">
                    <button class="btn btn-primary btn-lg" id="samsung_decode">SamsungPay</button>
                </form>
            </div>
        </div>
    </div>
</div>


</body>
<script>

</script>
</html>
