<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All words</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"

          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"

          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
</head>
<body>
<div th:insert="~{menu :: menu_}"></div>
<div class="row">
    <div class="col-md-2">
        <ul class="nav nav-tabs nav-stacked">
            <li><a href="/addWord">Add word</a></li>
            <li><a href="/allUserWords">Show my words </a></li>
            <li><a href="/">Popular words</a></li>
            <li><a href="/knowledgeTest">Knowledge test</a></li>
        </ul>
    </div>
    <div class="panel panel-default col-md-8 col-md-offset-0.5">
        <h1>Check your knowledge - pass the knowledge test</h1>
        <table class="table table-striped">
            <thead>
            <tr>
                <th> Word </th>
                <th> Translation </th>
            </tr>
            </thead>
            <tbody>
            <tr th:if="${allWords.empty}">
                <td colspan="2"> No Words In Your Dictionary </td>
            </tr>
            <tr th:each="w : ${allWords}">
                <td><span th:text="${w.word}"> Title </span></td>
                <td><span th:text="${w.translation}"> Author </span></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>