<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New Article</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"

          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"

          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
</head>
<body>
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Add new article</h3>
    </div>
    <div class="panel-body">
        <form th:action="@{/articles/new}" method="post">
            <div class="form-group">
                <label for="Title">Type article title</label>
                <input type="text" class="form-control" id="Title" name="title" placeholder="example" >
            </div>
            <div class="form-group">
                <label for="ref">Type ref</label>
                <input type="text" class="form-control" id="ref" placeholder="https://spring.io/guides/gs/rest-service/" name="ref">
            </div>
            <div class="form-group">
                <label for="ref">Type a description of the article</label>
                <p><textarea cols="60" rows="5" name="description"></textarea></p>
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
        </form>
    </div>
</div>
</body>
</html>